<a href="https://colab.research.google.com/github/elmaazouziyassine/Python/blob/master/Data%20Structures/Data%20Structures%20-%20Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures - Lists**

##### **Definition**

- A list is basically an ordered sequence of items. 
- In Python, lists are among the most popular sequence data types because they are flexible (the items do not need to be of the same type) and declaring them is quite easy.
- Items in a list are enclosed within square brackets [ ] and are separated by commas.

##### **Creating a list**

In [9]:
empty_list = []
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
years = [2017, "Two Thousand and Seventeen", "XXVII", 20.17]
favorites = ["a", "x", "i", "xx"]
print (years)

[2017, 'Two Thousand and Seventeen', 'XXVII', 20.17]

##### **Accessing values in a list**

In [10]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
print ("The first month is", months[0])
print ("The 5th to 9th months are", months[4:9])
print ("The second last month is", months[-2])
print (months[6:], "make up the last half of the year")

The first month is Jan
The 5th to 9th months are ['May', 'Jun', 'Jul', 'Aug', 'Sep']
The second last month is Nov
['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] make up the last half of the year

##### **Updating a list**

In [11]:
subjects = ["Math", "Physics", "Chemistry"]
print ("List of subjects:", subjects)

subjects[2] = "Biology"

print ("New list of subjects: ", subjects)

List of subjects: ['Math', 'Physics', 'Chemistry']
New list of subjects:  ['Math', 'Physics', 'Biology']

##### **Deleting an element in a list**

2 ways to delete an element in a list: 
- del statement if you know the exact element or elements you wish to delete or 
- remove() method if you do not.

In [12]:
subjects = ["Math", "Physics", "Chemistry", "Biology", "History"]
print ("List of subjects:", subjects)

del subjects[2]
print ("New list of subjects after del: ", subjects)

subjects.remove("Physics")
print ("New list of subjects after subjects.remove:", subjects)

List of subjects: ['Math', 'Physics', 'Chemistry', 'Biology', 'History']
New list of subjects after del:  ['Math', 'Physics', 'Biology', 'History']
New list of subjects after subjects.remove: ['Math', 'Biology', 'History']

##### **Basic list operations**

- Just like strings, lists can be manipulated using operators such as + to
concatenate and * to iterate. 
- Generally speaking, lists respond to all the general sequence operations that we used on strings.

In [13]:
fruits = ["Mango", "Banana", "Orange", "Apple", "Pear"]
print ("The length of the fruits list is", len(fruits))

The length of the fruits list is 5

In [14]:
numbers1 = [1, 2, "three", 4]
numbers2 = [7, "x", "p", 10]
numbers = numbers1 + numbers2
print (numbers)
print (numbers1 * 2)
print (10 in numbers2)
for x in [1, 2, 3]: print (x)

[1, 2, 'three', 4, 7, 'x', 'p', 10]
[1, 2, 'three', 4, 1, 2, 'three', 4]
True
1
2
3

##### **Built-in methods & functions to manipulate lists**

FUNCTIONS
- cmp(list1, list2) : Compares the elements of two lists.
- len(list) : Returns the total length of the list.
- max(list) : Returns the item with max value from the list.
- min(list) : Returns the item with min value from the list.
- list(seq) : Converts a tuple into list.

METHODS
- list.append(x) : Appends an object x to list
- list.count(x) : Returns the count of how many times x occurs in list
- list.extend(seq) : Appends the contents of seq to list
- list.index(x) : Returns the lowest index in list that x appears
- list.insert(index, x) : Inserts object x into list at the specified index
- list.pop(x=list[-1]) : Removes and returns last object or x from list
- list.remove(x) : Removes object x from list
- list.reverse() : Reverses the list of objects
- list.sort([func]) : Sorts objects of list using compare func (if provided)