<a href="https://colab.research.google.com/github/elmaazouziyassine/Python/blob/master/Data%20Structures/Data%20Structures%20-%20Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures - Tuples**

##### **Definition**

- Similar to list, a tuple is an ordered sequence of items. 
- The only difference between a Tuple and a List is that a tuple is immutable. This means that once it has been created, it cannot be modified.
- Tuples are used to create write-protected data. Because they are not dynamic,
they are often faster than lists. 
- A tuple is defined within parentheses () and the values are separated by commas. 
- Like lists, a tuple can contain values of different data types.
- Just like strings and lists, the values within a tuples are references with indices that start at 0 and can be concatenated, sliced, and so on.

##### **Creating a tuple**

In [0]:
tuple1 = (5, "2020", 1+3j)
tuple2 = (1, 2, 3, 4, 5)
empty_tuple = ()
year = (2017,)            # To create a tuple with only one value, it must include a comma

##### **Accessing values in a tuple**

In [6]:
continents = ("Asia", "Africa", "Americas", "Europe", "Australia")
print ("continents[0]:", continents[0])
print ("continents[2:]", continents[2:])
print ("continents[:-3]", continents[:-3])

continents[0]: Asia
continents[2:] ('Americas', 'Europe', 'Australia')
continents[:-3] ('Asia', 'Africa')

##### **Updating a tuple**

- Tuples are immutable, which means that the tuple elements or values between
the brackets cannot be changed or updated. However, you can take the values
from an existing tuple and create a new tuple.

In [7]:
continents = ("Asia", "Africa", "Americas", "Europe", "Australia")
continents2 = ("Antarctica",)
all_continents = continents + continents2
print (all_continents)

('Asia', 'Africa', 'Americas', 'Europe', 'Australia', 'Antarctica')

##### **Deleting tuple elements**

- It is not possible to remove individual values of a tuple. Therefore, the only
option, as we saw with updating tuple values, is to create
another tuple from the values of an existing tuple, discarding the undesired
elements.
- To delete an entire tuple, you can use the del statement.

In [0]:
my_tuple = (1,2,3)
del my_tuple

##### **Basic tuple operations**

- Tuples respond to most operators we used on strings and lists including + for concatenation and * for iteration.

##### **Built-in methods & functions to manipulate tuples**